<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Learning Center</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-nav navbar-fixed-top" style="background-color:lightsalmon; padding: 0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand" style="font-size: 30px; margin: 0 auto;"><b>Learning Center</b></p>
                @*@Html.ActionLink("Learning Center", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { style = "font-size: 20px; font-weight: bold;" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { style = "font-size: 20px; font-weight: bold;" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { style = "font-size: 20px; font-weight: bold;" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content" style="text-align:center">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year OD-Werks</p>
        </footer>
    </div>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
