@using Microsoft.AspNet.Identity
@using LearningCenter.Controllers

@if (@User.Identity.IsAuthenticated)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + HttpContext.Current.Session["User"] + "!", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li><a href="@Url.Action("Logout", "Auth")">Logout</a></li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Login", "Login", "Auth", new { area = "" }, new { @class = "navbar-brand" })</li>
        <li>@Html.ActionLink("Register", "Registration", "Auth", new { area = "" }, new { @class = "navbar-brand" })</li>
    </ul>
}
