@model LearningCenter.User
@{
    ViewBag.Title = "Login";
}

<div style="text-align:center">
    <h2>Log In</h2>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @using (Html.BeginForm())
    {
        @Html.LabelFor(u => u.UserEmail)<br/>
        @Html.TextBoxFor(u => u.UserEmail)<br/>
        @Html.LabelFor(u => u.UserPassword)<br/>
        @Html.PasswordFor(u => u.UserPassword)<br/>
        <br />
        <input type="submit" value="Log in" class="btn btn-default" />
    }
</div>
