@model LearningCenter.Models.User
@{
    ViewBag.Title = "Login";
}

<div style="text-align:center">
    <h1>Log In</h1>
    <div style="width:275px; text-align:left; margin:0 auto;">
        @Html.ValidationSummary(true, "", new { @style = "color:red; text-align:center; list-style-position: inside;" })
    </div>

    @using (Html.BeginForm())
    {
        @Html.LabelFor(u => u.Email, new { @style = "font-size:20px;" })<br/>
        @Html.TextBoxFor(u => u.Email, new { @style = "text-align:center; width:300px; height:50px; font-size:18px;" })<br/>
        @Html.LabelFor(u => u.Password, new { @style = "font-size:20px;" })<br/>
        @Html.PasswordFor(u => u.Password, new { @style = "text-align:center; width:300px; height:50px; font-size:18px;" })<br/>
        <br />
        <input type="submit" value="Log in" class="btn btn-primary btn-lg"/>
    }
</div>
