@model LearningCenter.Models.User
@{
    ViewBag.Title = "Registration";
}

<div style="text-align:center">
    <h2>Register</h2>

    @Html.ValidationSummary(true, "", new { @style = "color:red; text-align:center; list-style-position: inside;" })

    @using (Html.BeginForm())
    {
        @Html.LabelFor(u => u.Email)<br />
        @Html.TextBoxFor(u => u.Email)<br />
        @Html.LabelFor(u => u.Password)<br />
        @Html.PasswordFor(u => u.Password)<br />
        @Html.LabelFor(u => u.ConfirmPassword)<br/>
        @Html.PasswordFor(u => u.ConfirmPassword)<br/>

        <br />
        <input type="submit" value="Register" class="btn btn-default" />
    }
</div>
